# Temp
*~
*#

# Binary
r-type_server
r-type_client

# Zip
*.rar
*.zip
*.tar

# Env
*.o
*.gcno
*.gcda
vgcore.*

# Build
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
build/*
