# Temp
*~
*#

# Binary
r-type_server
r-type_client
unit_tests

# Zip
*.rar
*.zip
*.tar

# Env
*.o
*.so
*.gcno
*.gcda
vgcore.*

# Build
CMakeFiles
CMakeCache.txt
conan.lock
conanbuildinfo.cmake
conanbuildinfo.txt
conaninfo.txt
graph_info.json
build/*
.vscode/

# Tests
ServerTest
CLIENT_TESTER.cpp

# scripts
rebuild.sh
